# Responsáveis gerais pelo repositório.
* @Benevanio @hltav

# Frontend: responsáveis específicos pela área.
/frontend/** @pedrosilvaadev  @nayarakarinesilva

# Configurações do GitHub e CI/CD.
 /.github/** @Benevanio

