# Node
node_modules
**/node_modules

# Build outputs
dist
**/dist
frontend/dist
backend/output
coverage
**/coverage

# Go
scraper-go/vendor

# Electron
electron

# Salesforce
.sfdx

# Misc
.git
.env
.env.*
**/.env
**/.env.*
**/*.log
